html {
    background-color: lightblue;
}

h1 {
	text-align: center;  
	color: black; 
	text-decoration: underline;
	margin-top: 1.2em;
}

h2 {
	color: darkred;
	text-align: left; 
	text-decoration: underline;
}

body {
    margin:auto;
    padding: 1em 3em 1em 3em;;
    width: 1000px;
    height: 1000px;
	margin-bottom: 1.2em; 
	background-color: lightgray; 
}

img {
	position: absolute;
	right: 2px;
	bottom: 2px; 
}

#red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}
#swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
}

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }